name: CD Pipeline

on:
  workflow_call:

jobs:
  
  publish-image:
    uses: ./.github/workflows/docker-publish.yaml
    if: startsWith(github.ref, 'refs/tags/v')
    with:
      image_name: "statusq.cpu"
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}