name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: write

jobs:
  # 1. Ejecutar Formateo
  Formatting:
    uses: ./.github/workflows/format.yaml

  # 2. Ejecutar Linting
  Linting:
    uses: ./.github/workflows/lint.yaml

  # 3. Ejecutar Tests (Solo si los anteriores pasaron)
  Tests:
    needs: [Formatting, Linting] # Esto los hace secuenciales
    uses: ./.github/workflows/test.yaml
  Versions:
    needs: [Tests] # Esto los hace secuenciales
    uses: ./.github/workflows/version.yaml