name: CI Pipeline

on:
  workflow_call:

permissions:
  contents: write

jobs:
  # 1. Ejecutar Formateo
  Formatting:
    uses: ./.github/workflows/format.yaml

  # 2. Ejecutar Linting
  Linting:
    uses: ./.github/workflows/lint.yaml

  # 3. Ejecutar Tests (Solo si los anteriores pasaron)
  Versions:
    uses: ./.github/workflows/version.yaml