name: Format

on:
  workflow_call:

jobs:
  ruff-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
      - name: Check Formatting
        run: uv run ruff format --check .