name: main ci/cd pipeline


on:
  push:
    branches: [ main ]  
    tags:
      - 'v*' # Detecta versiones como v1.0.0   
  pull_request:
    branches: [ main ]
  
jobs:
  # 2. Ejecutar Linting
  CI:
    permissions:
      contents: write
    uses: ./.github/workflows/ci.yaml
  # 1. Ejecutar Formateo
  CD:
    needs: CI
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    uses: ./.github/workflows/cd.yaml

