name: Python CI/CD

on:
  push:
    branches: [ "main" ] # Se activa al subir cambios a main
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Descargar código
      uses: actions/checkout@v4

    - name: Instalar uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true # Esto hará que tus librerías se guarden para la próxima vez

    - name: Configurar Python
      run: uv python install # Instala la versión definida en tu pyproject.toml

    - name: Instalar dependencias
      run: uv sync --frozen # Sincroniza usando el archivo uv.lock para total reproducibilidad

    - name: Ejecutar Tests
      run: uv run pytest # Ejecuta pytest dentro del entorno virtual de uv

    - name: Lint con Ruff (Errores y Estilo)
      run: uv run ruff check .

    - name: Verificar Formato con Ruff (Black-style)
      run: uv run ruff format --check .