name: Python CI/CD

on:
  push:
    branches: [ "main" ] # Se activa al subir cambios a main
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Descargar código
      uses: actions/checkout@v4

    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest # Por si no está en tu requirements

    - name: Ejecutar Tests
      run: |
        pytest